@import "tailwindcss";

/* 🌤️ LIGHT THEME — Default */
@theme {
  /* Backgrounds */
  --color-background: #ffffff;

  /* Navigation */
  --color-nav-active: #00704a;
  --color-nav-hover: #06a771;

  /* Borders */
  --color-border: #ced4da;
  --color-border-hover: #adb5bd;

  /* Buttons */
  --color-btn-green: #00704a;
  --color-btn-bg: #00704a;

  /* Cards */
  --color-card-bg: #f5f9ff;
  --color-card-border: #ced4da;

  /* Texts */
  --color-heading: #212529;
  --color-text: #343a40;
  --color-small-text: #595d63;

  /* Section spacing */
  --section-gap: 50px;

  /* Shadows */
  --color-box-shadow: 
    0 0 3px rgba(127, 251, 203, 0.8),
    0 0 6px rgba(127, 251, 191, 0.6),
    0 0 10px rgba(127, 251, 193, 0.5);
}

/* 🌙 DARK THEME — Dark Mode */
/* @media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0d0d0d;
    --color-background-soft: #1a1a1a;
    --color-background-mute: #2a2a2a;

    --color-nav-active: #5eef8f;
    --color-nav-hover: #06a771;

    --color-border: #343a40;
    --color-border-hover: #495057;

    --color-btn-green: #1d7f3e;
    --color-btn-bg: #5eef8f;

    --color-card-bg: #1e2939;
    --color-card-border: #343a40;

    --color-heading: #e9ecef;
    --color-text: #dee2e6;
    --color-small-text: #ffffff90;

    --section-gap: 50px;

    --color-box-shadow: 
      0 0 3px rgba(127, 251, 203, 0.8),
      0 0 6px rgba(127, 251, 191, 0.6),
      0 0 10px rgba(127, 251, 193, 0.5);
  }
} */
 
body {
  min-height: 100dvh;
  color: var(-header-bg);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
